@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Philosopher:wght@700&family=Poppins:wght@500;600&display=swap');

.sideBar {
    background-color: #cb6cec;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #cb6cec;
    padding: 10px;
}
.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(28, 17, 41. 0.88);
}
.menu-bar {
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
    background-color: #cb6cec;
}
.toggle-theme-btn{
    position: absolute;
    bottom: 30px;
    left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.toggle{
    margin-left: 15px;
    background-color: #F4EFEC;
}
*{
    font-family: Lexend;
}

.header-icon{
    background-color: #cb6cec;
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    color: #cb6cec;
    cursor: pointer;
}

.title{
    color: '#807A7A';
}

.itemCardImage{
    height: 150px !important;
    object-fit: scale-down;
}
.itemCard{
    margin: 8px;
}

.button{
    background-color: #cb6cec;
}

.header{
    background-color: #F4EFEC;
}
.layout{
    position: fixed;
}