@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Philosopher:wght@700&family=Poppins:wght@500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.sideBar {
    background-color: white;
}

.login-Container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imagemecard {
  display: flex;
}

.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.imagem img {
  max-height: 100%;
}

.title {
  font-size: 40px;
  font-family: 'Lexend', sans-serif;
}

.gl {
  margin-left: 40px;
  font-size: 40px;
  font-family: 'Lexend', sans-serif;
}

.tooltip {
  margin-right: 40px;
  cursor: pointer;
}

.title-container {
  margin-top: 50px !important;
  margin-bottom: 70px !important;
  width: 95%;
  height: 50px;
  background-color: #ddafeb7a; 
  color: #807979; 
  border-radius: 40px;
  padding: 10px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.login-card {
  display: flex;
  flex: 1;
  border: 2px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  background-color: #F4EFEC;
  font-family: 'Lexend', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .login-card {
    height: 500px;
    margin-right: 50px;
  }
}

@media (min-width: 1025px) {
  .login-card {
    height: 600px;
    margin-right: 100px;
  }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #cb6cec;
    padding: 10px;
}
.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(28, 17, 41. 0.88);
}
.menu-bar {
    height: 100vh;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
    background-color: #cb6cec;
}
.toggle-theme-btn{
    position: absolute;
    bottom: 30px;
    left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.toggle{
    margin-left: 15px;
    background-color: #F4EFEC;
}
*{
    font-family: Lexend;
}

.header-icon{
    background-color: #cb6cec;
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    color: #cb6cec;
    cursor: pointer;
}

.title{
    color: #807A7A;
    font-weight: lighter;
    opacity: 60%;
}



.itemCardImage{
    height: 150px !important;
    object-fit: scale-down;
}
.itemCard{
    margin: 8px;
    
}

.button{
    background-color: #cb6cec;
}

.header{
    background-color: #F4EFEC;
}

.patientList{
    background-color: #F4EFEC;
}
body {
    font-family: 'Lexend', sans-serif; /* Definindo a fonte para todo o corpo do site */
    margin: 0;
}
.meta {
    background-color: #F4EFEC;
}

.login-Container-down {
    display: flex;
	width: 100%;
	align-items: center;
    position: fixed;
	
  }
.login-form {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  
  }

  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }

 img{
    width: 75%;
}
  
  .login-card h2 {
    text-align: center;
    color: #807979;
    margin-bottom: 50px;
    font-family: 'Lexend', sans-serif;
  }
  
  .login-card form {
    display: flex;
    flex-direction: column;
    font-family: 'Lexend', sans-serif;
  }
  
  .login-card label {
    margin-bottom: 5%;
    display: block;
    font-family: 'Lexend', sans-serif;
  }
  
  .login-card input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Lexend', sans-serif;
  }
  
  .login-card button {
    padding: 10px 20px;
    background-color: #6B6CEC;
    color: #fff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    display: flex;
	align-items: center;
  }


  .login-form-forgot{
    color: #6B6CEC;
  }

  
