@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Philosopher:wght@700&family=Poppins:wght@500;600&display=swap');

.sideBar {
    background-color: #cb6cec;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #cb6cec;
    padding: 10px;
}
.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(28, 17, 41. 0.88);
}
.menu-bar {
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
    background-color: #cb6cec;
}
.toggle-theme-btn{
    position: absolute;
    bottom: 30px;
    left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.toggle{
    margin-left: 15px;
    background-color: #F4EFEC;
}
*{
    font-family: Lexend;
}

.header-icon{
    background-color: #cb6cec;
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    color: #cb6cec;
    cursor: pointer;
}

.title{
    color: '#807A7A';
}

.itemCardImage{
    height: 150px !important;
    object-fit: scale-down;
}
.itemCard{
    margin: 8px;
    
}

.button{
    background-color: #cb6cec;
}

.header{
    background-color: #F4EFEC;
}
.layout{
    position: fixed;
}
.patientList{
    background-color: #F4EFEC;
}
body {
    background-color: #F4EFEC;
    font-family: 'Lexend', sans-serif; /* Definindo a fonte para todo o corpo do site */
}
.meta {
    background-color: #F4EFEC;
}

.login-Container-down {
    display: flex;
	width: 100%;
	align-items: center;
	
  }

.login-form {
    display: flex; 
  flex-direction: column; 
  align-items: center;
  
  }
  .title-container {
    width: 97%; 
    background-color: #ddafeb7a; 
    border-radius: 10px; 
    padding: 10px; 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    margin: 3vw 3px;
  }


  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }

  .login-card {
    width: 41%;
	margin: 20px;
	height: 65vh;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

 img{
    width: 50%;
}
  
  .login-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-card form {
    display: flex;
    flex-direction: column;
  }
  
  .login-card label {
    margin-bottom: 5px;
    display: block;
  }
  
  .login-card input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-card button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
	align-items: center;
  }